
#mytextarea{
    background-color: rgb(219, 239, 151);
    color: rgb(32, 20, 2);
    text-align: left;
    margin: auto;
}


.general{
    margin-top: 10px;
    text-align:  center;
}

.buttondesign{
    display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #66d875;
  color: #1d0101;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

